<div class="ui inverted vertical footer segment" style="margin-top: auto;">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="six wide column">
        <div class="ui inverted link list">
          <img src="{{ url_for('static', filename='images/icon.png') }}" class="ui centered tiny image">
          <br>
          </a>
          ทางของฝุ่น<br> ระบบจำลองการเคลื่อนตัวของฝุ่น PM 2.5
        </div>
      </div>
      <div class="five wide column">
        <div class="ui inverted link list">
          <br>
          ผู้จัดทำ<br> 1.นางสาวหฤทัย แซ่ฮั่น 6110110497<br> 2.นายทิวัตถ์ ลิม 6110110161 <br> 3.นายพงศธร ชดช้อย
          6110110296<br>
          4.นายเสฏฐวุฒิ จุลรอด 6110110490 <br> 5.นายพงษ์พัธตร์ ยาเขต 6110110301 <br> 6.นันทิพัฒน์ พันธรักษ์ 6110110238


          </a>

        </div>
      </div>
      <div class="five wide column">
        <div class="ui inverted link list">
          <br>
          <img src="{{ url_for('static', filename='images/CoE-BG_1_.png') }}" class="ui centered tiny image">
          <a href="http://www.coe.psu.ac.th" class="item">
            <br>
            สาขาวิชาวิศวกรรมคอมพิวเตอร์<br>
            คณะวิศวกรรมศาสตร์
            มหาวิทยาลัยสงขลานครินทร์<br>
            <br>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>